<header>
    <div class="icon-container">
        <img id="icon-header" src="img/LogoMPKrct.webp" alt="logo da MPK">
    </div>
    <div class="search-container">
        <form action="/" method="get">
            <button type="submit" id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" id="search-field" placeholder="Pesquisar..."/>
        </form>        
    </div>
    <div class="user-container">
        <img id="icon-user" src="img/perfilusiconaAZ.png">
        <nav class="menu-user">
            <ul>
                <li><a href="/login">LOGIN</a></li>
                <li>|</li>
                <li><a href="/register">CRIAR CONTA</a></li>
            </ul>
        </nav>
    </div>
</header>
    <section class="barralink">
        <nav id="hamburguer">
            <input type="checkbox" id="check">
            <label for="check">
                
                <img src="img/menuhamb az.png" alt="menu hamburguer" style="cursor: pointer;" />
            </label>
            <span>Departamentos</span>
            <div class="submenu-hamb">
                <ul>
                    <li><a href="/products/1">Eletroeletrônicos</a></li>
                    <li><a href="/products/2">Utilidades do Lar</a></li>
                    <li><a href="/products/3">Moda</a></li>
                    <li><a href="/products/4">Farmácia</a></li>
                    <li><a href="/products/5">Construção</a></li>
                </ul>
            </div>
        </nav>
        <nav class="navbar">
            <a class="navbar-item2" href="/establishment"><img src="img/loja-online.png" />Estabelecimentos</a>
            <a class="navbar-item3" href=""><img src="img/carrinho-de-compras2.png" />Minhas Compras</a>
            <a class="navbar-item4" href="#"><img src="img/ofertaaz.png" />Ofertas</a>
            <a class="navbar-item5" href="#"><img src="img/trofeuaz.png" />Destaques do Mês</a>
            <a class="navbar-item6" href="/partner"><img src="img/parceirocolor.png" />Parceiros</a>
            <a class="navbar-item7" href="#"><img src="img/compras-online.png" />Venda no MPK</a>
        </nav>
    </section>

